@if(currencies(); as currenciesList) {
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="form">
        <div class="wrapper">
          <label for="from">
            From
            <select name="from" id="from" formControlName="from">
              @for (currency of currenciesList; track currency.code) {
                <option value="{{ currency.short_code }}">{{ currency.name }}</option>
              }
            </select>
          </label>
          <label for="amount">
            Amount
            <input formControlName="amount" type="text" id="amount">
          </label>
        </div>

        <div class="wrapper">
          <label for="to">
            To
            <select name="to" id="to" formControlName="to">
              @for (currency of currenciesList; track currency.code) {
                <option value="{{ currency.short_code }}">{{ currency.name }}</option>
              }
            </select>
          </label>
          <div>
            @if (resource.isLoading()) {
              <h3>Loading</h3>
            }
            @if (!resource.isLoading() && resource.value(); as formattedValue) {
              <h3>Result</h3>
              <p>{{ formattedValue.value | currency : formattedValue.to : 'code': '4.2'  }}</p>
            }
          </div>
        </div>
      </div>
      <!--  Surely it should be moved to separate component with CVA implementation, but for this app purpose I decided not to do it  -->

      <button>Submit</button>
    </form>
}
